<link rel="stylesheet" href="../css/footer.css">
<footer>
    <img src="../img/img cpc-verde.jpeg" alt="Logo rodapé">
    <div class="footer-links">
      <a href="/sobrenos">Sobre nós</a>
      <a href="/comofunciona">Como funciona</a>
      <a href="/servicos">Serviço de trocas</a>
    </div>
 <br></footer>