<link rel="stylesheet" href="../css/footer.css">
<footer>
    <img src="../img/img Logo-cpc.jpeg" alt="Logo rodapé">
    <div class="footer-links">
      <a href="#">Sobre nós</a>
      <a href="#">Como funciona</a>
      <a href="/servicos">Serviço de trocas</a>
    </div>
  </footer>