<link rel="stylesheet" href="../css/header.css">
<header class="header">
    <a href="/"><img src="../img/logo.png" class="logo" alt="Logo"></a>
    
    <div class="icons">
      <img src="../img/img perfil.png" alt="Perfil">
      <img src="../img/img menu.png" id="btnMenu" alt="Abrir menu">
    </div>
  </header>