<link rel="stylesheet" href="../css/header.css">
<header class="header">
    <a href="/"><img src="../img/logo.png" class="logo" alt="Logo"></a>
    
    <!-- MENU LATERAL -->
    <div class="icons">
      <img src="../img/img perfil.png" alt="Perfil">
      <img src="../img/img menu.png" id="btnMenu" alt="Abrir menu">
    </div>
  <nav class="side-menu" id="side-menu">
    <a href="/conta">MINHA CONTA</a>
    <a href="/home">INÍCIO</a>
    <a href="/sobrenos">SOBRE NÓS</a>
    <a href="/comofunciona">COMO FUNCIONA</a>
    <a href="/servicos">SERVIÇOS DE TROCA</a>
    <a href="/saibamais">SAIBA MAIS</a>
    <a href="/noticias">NOTÍCIAS</a>
  </nav>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
  <div id="overlay" class="overlay"></div>

  <script src="../js/menu.js"></script>
  </header>