
/* Responsividade */
@media (max-width: 1024px) {
  .service-card {
    width: 90%;
  }
}
 
@media (max-width: 450px) {
  .service-card {
    width: 90%;
  }
}
 
@media (max-width: 600px) {
  header, nav, #service-list {
    margin-left: 0;
  }
 
  .topbar {
    flex-direction: column;
    gap: 10px;
  }
 
  .search-wrapper {
    width: 100%;
  }
 
  #search {
    width: 90%;
  }
 
  .search-icon {
    right: 8%;
  }
}
 
@media (max-width: 600px) {
.banner-text {
    max-width: 90%;
    font-size: 1rem;
    padding: 8px;
    left: 10px;
    bottom: 10px;
  }
}