/* ========== Estilos Gerais ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Campo de busca */
input label {
  border: none;
  background-color: transparent;
}

#divBusca {
  border: none;
  margin-top: 25px;
  margin-left: 90px;
  background-color: #E2E2E2;
  border-radius: 10px;
  width: 66%;
}

#txtBusca {
  background-color: transparent;
  padding-left: 15px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
}

#btnBusca {
  border: none;
  padding-top: 1px;
  float: right;
  height: 25px;
  width: 27px;
}

/* Botões de filtro */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  margin-left: 60px;
}

.filter-btn {
  padding: 8px 16px;
  border: 2px solid #b2e5d9;
  background-color: transparent;
  color: #232323;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-btn.active {
  background-color: #94bfa9;
  color: white;
  border-color: #94bfa9;
}

/* Lista de serviços */
.service-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.service-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

.service-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap: 15px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.service-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.service-info p {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #555;
}

.btn-contato {
  background: #FFB703;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-contato:hover {
  background: #ffa500;
}

/* Responsividade */
@media (max-width: 1024px) {
  .service-card {
    width: 90%;
  }
}

@media (max-width: 600px) {
  header, nav, #service-list {
    margin-left: 0;
  }

  .topbar {
    flex-direction: column;
    gap: 10px;
  }

  .search-wrapper {
    width: 100%;
  }

  #search {
    width: 90%;
  }

  .search-icon {
    right: 8%;
  }
}