<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços de Alimentação - CPC</title>
  <link rel="stylesheet" href="../css/todos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
<script>
  var services = [
    { nome: "Maçã", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Arroz", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Leite", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Óleo", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Feijão", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Macarrão", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" }
  ];
</script>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
  <div id="overlay" class="overlay"></div>

  <!--Campo de Busca-->
<div id="divBusca">
  <label for="txtBusca"></label>
  <input type="search" id="txtBusca" placeholder="Busque seu Alimento">
  <button id="btnBusca" type="button"><img src="../img/img lupa.png" alt="Buscar"></button>
</div><br>
<!-- Local onde o texto buscado vai aparecer -->
<p id="resultadoBusca"></p>

  <!-- Filtros -->
  <nav>
    <a href="/todos"><button class="filter-btn" data-filter="todos">Todos</button></a>
    <a href="/kids"><button class="filter-btn" data-filter="infantil">Infantil</button></a>
    <a href="/profissionais"><button class="filter-btn" data-filter="profissionais">Profissionais</button></a>
    <a href="/alimentos"><button class="filter-btn active" data-filter="alimentos">Alimentação</button></a>
  </nav>

  <!-- Lista de serviços -->
  <div class="service-list">

  <br><div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Maçã</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Arroz</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>
    
    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Leite</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Óleo</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Feijão</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Macarrão</h3>
        <p>Malcolm, Barueri-SP</p>
        <a href="/contato"><button class="btn-contato">Contato</button></a>
      </div>
    </div><br>

    </div><br>

</section>

<script> const termoBusca = document.getElementById("txtBusca").value.trim();
document.getElementById("btnBusca").addEventListener("click", function() {
        const termoBusca = document.getElementById("txtBusca").value.trim()
        const resultado = document.getElementById("resultadoBusca")

        if (termoBusca !== "") {
            resultado.textContent = "Você buscou por: " + termoBusca
        } else {
            resultado.textContent = "Digite algo para buscar."
        }
    });
</script>
  <script src="../js/busca.js"></script>
  <script src="../js/menu.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>