<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avalie sua experiência - CPC</title>
  <link rel="stylesheet" href="../css/avaliacao.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
  <main>
      <br><h1>Detalhe da Troca</h1><br>
    

<section class="card">
    <img src="../img/img home-2.png" alt="Imagem">

    <section class="info">
        <h2>Marcenaria</h2>
        <p>Malcolm, Barueri-SP</p>
        <p>Serviço Profissional</p>
        <p>06/03/2026</p>

        <section class="rating">
            <input type="radio" name="card1" id="c1s5"><label for="c1s5">★</label>
            <input type="radio" name="card1" id="c1s4"><label for="c1s4">★</label>
            <input type="radio" name="card1" id="c1s3"><label for="c1s3">★</label>
            <input type="radio" name="card1" id="c1s2"><label for="c1s2">★</label>
            <input type="radio" name="card1" id="c1s1"><label for="c1s1">★</label>
        </section>
    </section>
</section>

<section class="card">
    <img src="../img/img home-2.png" alt="Imagem">

    <section class="info">
        <h2>Berço</h2>
        <p>Malcolm, Barueri-SP</p>
        <p>Item Infantil</p>
        <p>18/11/2025</p>

        <section class="rating">
            <input type="radio" name="card2" id="c2s5"><label for="c2s5">★</label>
            <input type="radio" name="card2" id="c2s4"><label for="c2s4">★</label>
            <input type="radio" name="card2" id="c2s3"><label for="c2s3">★</label>
            <input type="radio" name="card2" id="c2s2"><label for="c2s2">★</label>
            <input type="radio" name="card2" id="c2s1"><label for="c2s1">★</label>
        </section>
    </section>
</section>

<section class="card">
    <img src="../img/img home-2.png" alt="Imagem">

    <section class="info">
        <h2>Mamadeira</h2>
        <p>Malcolm, Barueri-SP</p>
        <p>Item Infantil</p>
        <p>23/05/2025</p>

        <section class="rating">
            <input type="radio" name="card3" id="c3s5"><label for="c3s5">★</label>
            <input type="radio" name="card3" id="c3s4"><label for="c3s4">★</label>
            <input type="radio" name="card3" id="c3s3"><label for="c3s3">★</label>
            <input type="radio" name="card3" id="c3s2"><label for="c3s2">★</label>
            <input type="radio" name="card3" id="c3s1"><label for="c3s1">★</label>
        </section>
    </section>
</section>

<section class="card">
    <img src="../img/img home-2.png" alt="Imagem">

    <section class="info">
        <h2>Leite</h2>
        <p>Joarez, Barueri-SP</p>
        <p>Alimento</p>
        <p>06/07/2024</p>

        <section class="rating">
            <input type="radio" name="card4" id="c4s5"><label for="c4s5">★</label>
            <input type="radio" name="card4" id="c4s4"><label for="c4s4">★</label>
            <input type="radio" name="card4" id="c4s3"><label for="c4s3">★</label>
            <input type="radio" name="card4" id="c4s2"><label for="c4s2">★</label>
            <input type="radio" name="card4" id="c4s1"><label for="c4s1">★</label>
        </section>
    </section>
</section>

<section class="card">
    <img src="../img/img home-2.png" alt="Imagem">

    <section class="info">
        <h2>Eletricista</h2>
        <p>Malcolm, Barueri-SP</p>
        <p>Serviço Profissional</p>
        <p>04/04/2024</p>

        <section class="rating">
            <input type="radio" name="card5" id="c5s5"><label for="c5s5">★</label>
            <input type="radio" name="card5" id="c5s4"><label for="c5s4">★</label>
            <input type="radio" name="card5" id="c5s3"><label for="c5s3">★</label>
            <input type="radio" name="card5" id="c5s2"><label for="c5s2">★</label>
            <input type="radio" name="card5" id="c5s1"><label for="c5s1">★</label>
        </section>
    </section>
</section>

  </main>
</body>

<br><br><br><%- include('../partials/footer.ejs') %>
</html>