<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato Troca</title>
  <link rel="stylesheet" href="../css/contato-troca.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
    <div class="espaço">
        </div>

        <div class="profile">
            <img src="../img/img malcon.png" alt="Foto do usuário" class="avatar">
            <div class="user-info">
                <p class="name"><strong> Malcolm Eliseu Ribeiro</p></strong>
                <p class="details"><strong>Marceneiro </strong><br>
                20 Trocas Realizadas</p>
            </div>
        </div>
        <br>

        <!-- CONTEÚDO PREVIEW -->
  <section id="conteudo-preview">
        <h2>PREVIEW</h2>
    <div id="conteudo-sobre">
      <!--Slide-->
      <div class="slide-css">

        <input class="input-slide" type="radio" id="trigger1" name="slider" checked autofocus>
        <label class="label-slide" for="trigger1">
        </label>
        <div class="slide background-1"></div>

        <input class="input-slide" type="radio" id="trigger2" name="slider">
        <label class="label-slide" for="trigger2">
        </label>
        <div class="slide background-2"></div>

        <input class="input-slide" type="radio" id="trigger3" name="slider">
        <label class="label-slide" for="trigger3">
        </label>
        <div class="slide background-3"></div>
    </div>

    <br><br><br><br><h3><br>Descrição</h3>
      <p>Nosso objetivo é criar uma rede solidária onde as pessoas podem trocar serviços e produtos sem a necessidade de dinheiro. 
        Aqui você pode oferecer suas habilidades, ajudar quem precisa e receber apoio em troca, tudo de uma forma simples e acessível.
        Ideal para quem busca se conectar, compartilhar e transformar vidas na comunidade, nosso espaço é um ponto de encontro para aqueles em situação de vunerabilidade e para todos que desejam fazer a diferença. 
        Junte-se a nós e descubra o poder da colaboração!</p>
    </div>
  </section>
  
  <br><section class="iniciar-troca">
  <a href="/resumo"><button type="submit">Iniciar Troca</button></a>
  </section>

  <script src="../js/menu.js"></script>
  <br>
  <br>
  <br>
</body>
<%- include('../partials/footer.ejs') %>
</html>