<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conta - CPC</title>
  <link rel="stylesheet" href="../css/conta.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>
<%- include('../partials/header.ejs') %>
<body>
    <div class="profile">
            <img src="../img/img malcon.png" alt="Foto do usuário" class="avatar">
            <div class="user-info">
                <p class="name"><strong>Malcolm Eliseu Ribeiro</strong></p>
                <p class="details">25 anos  | Barueri-SP</p>
            </div>
        </div>

        <br><br><div class="credits">
            Você Acumulou <strong>100 créditos</strong>
            <span class="coin"><a href=""></span></a>
        </div><br><br>

        <section class="ultimas-trocas">
            <h2>Últimas trocas</h2><br>
            <div class="transaction">
                <span>Limpeza<br> Joarez Santos<br> 22/09/2024</span>
                <span class="status andamento">Andamento</span>
            </div>
            <div class="transaction">
                <span>Limpeza<br> Joarez Santos<br> 21/09/2024</span>
                <span class="status concluido">Concluído</span>
            </div>
            <div class="transaction">
                <span>Limpeza<br> Joarez Santos<br> 20/09/2024</span>
                <span class="status concluido">Concluído</span>
            </div><br>
        </section>

        <section class="active-offers">
            <h2>Ofertas ativas</h2><br>
            <div class="offer">
                <span>Limpeza<br> Joarez Santos<br> 23/09/2024</span>
                <span class="status inativa">Inativa</span>
            </div>
            <div class="offer">
                <span>Limpeza<br> Joarez Santos<br> 22/09/2024</span>
                <a href="/contato"><span class="status ativa">Ativa</a></span>
            </div>
        </section>

  <script src="../js/menu.js"></script>
  <br>
  <br>
  <br>
</body>
<%- include('../partials/footer.ejs') %>
</html>