<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Doação</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/doe.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="../img/img logo.png">
</head>
<body>
  <section class="container">
    <section class="logo">
        <img src="../img/logo-black.png" alt="Logo" />
      </section>      
    <h2>Ajude nossa causa, doe</h2>

    <section class="form-inicial">
      <input type="text" placeholder="Nome completo" id="nome">
      <input type="email" placeholder="E-mail" id="email">
      <input type="password" placeholder="Senha" id="senha">
      <a href="/cadastro"><button id="continuarBtn">Continuar</button></a>
    </section>
    
    <section class="form-banco hidden" id="formBanco">
      <section class="titulo-banco">Dados Bancários</section>
      <input type="text" placeholder="Nome do Cartão">
      <input type="text" placeholder="Número do Cartão">
      <input type="password" placeholder="CVV">
      <label class="checkbox">
        <input type="checkbox"> Deseja salvar seus dados?
      </label>
      <button id="doarBtn">Doe</button>
      <button id="voltarBtn" class="voltar">Voltar</button>
    </section>
</form>

    <section class="mensagem hidden" id="mensagem">
      <h3>Obrigado pela sua doação! 💖</h3>
    </section>

  <script src="/doe"></script>
</body>
</html>