<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços Infantis - CPC</title>
  <link rel="stylesheet" href="../css/todos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
<script>
  var services = [
    { nome: "Macacão", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Lencinho", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Cadeirinha", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Berço", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Mamadeira", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Chupeta", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" }
  ];
</script>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
  <div id="overlay" class="overlay"></div>

  <!--Campo de Busca-->
<div id="divBusca">
  <input type="text" id="txtBusca" placeholder="Busque seu Item Kids">
  <img src="../img/img lupa.png" id="btnBusca" alt="Buscar">
</div><br>

  <!-- Filtros -->
  <nav>
    <a href="/todos"><button class="filter-btn" data-filter="todos">Todos</button></a>
    <a href="/kids"><button class="filter-btn active" data-filter="infantil">Infantil</button></a>
    <a href="/profissionais"><button class="filter-btn" data-filter="profissionais">Profissionais</button></a>
    <a href="/alimentos"><button class="filter-btn" data-filter="alimentos">Alimentação</button></a>
  </nav>

  <!-- Lista de serviços -->
<div class="service-list"></div>

  </section>

  <script src="../js/menu.js"></script>
  <script src="../js/busca.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>