<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícias - CPC</title>
  <link rel="stylesheet" href="../css/noticias.css">
</head>

<%- include('../partials/header.ejs') %>
<body>

  <main>
    <!-- Imagem principal -->
    <section class="banner">
      <img src="../img/noti1.jpeg" alt="Imagem principal da notícia">
    </section>
    <!-- Bloco de notícia -->
    <section class="noticia">
      <h2>Notícias</h2>
      <h3>
        Número de pessoas na extrema pobreza cai 17% na cidade de SP, mas ainda atinge quase 500 mil famílias
      </h3>
      <p>
        <strong>São Paulo</strong> é a maior e mais rica cidade do Brasil e possui famílias vivendo com até R$ 109 por mês.
        <br><br>
        Os bairros que mais concentram famílias em extrema pobreza encontram-se nas áreas destacadas da cidade:
      </p>
      <ul>
        <li>Sé: 30.137 famílias</li>
        <li>Itaquera: 27.717 famílias</li>
        <li>São Mateus: 24.790 famílias</li>
        <li>M’Boi Mirim: 25.265 famílias</li>
        <li>Capela do Socorro: 24.800 famílias</li>
      </ul>
      <p>
        Já os bairros mais próximos do Centro como Lapa e Pinheiros, na Zona Oeste, e Vila Mariana, na Zona Sul,
        são os que têm o maior número de pessoas vivendo em situação de miséria.
      </p>
      <p>
        Para a economista e pesquisadora de temas ligados às desigualdades socioeconômicas Regina Wohler,
        a concentração da extrema pobreza está relacionada com a maneira como a cidade expandiu as suas atividades.
      </p>
      <!-- Imagem secundária -->
      <div class="img-noticia">
        <img src="../img/noti2.png" alt="Imagem ilustrativa da notícia">
      </div>
    </section>

   <!-- FIQUE POR DENTRO -->
  <section class="fique-por-dentro">
    <h2>FIQUE POR DENTRO</h2> 
    <form>
      <input type="text" placeholder="Primeiro nome" required>
      <input type="email" placeholder="Email" required>
      <a href="/doe"><button type="submit">CADASTRAR</button></a>
    </form>
  </section><br>
  </main>

    <script src="../js/menu.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>
