<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços Profissionais</title>
  <link rel="stylesheet" href="../css/todos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
  <div id="overlay" class="overlay"></div>
  <!-- Filtros -->
  <nav>
    <a href="/todos"><button class="filter-btn" data-filter="todos">Todos</button></a>
    <a href="/kids"><button class="filter-btn" data-filter="infantil">Infantil</button></a>
    <a href="/profissionais"><button class="filter-btn active" data-filter="profissionais">Profissionais</button></a>
    <a href="/alimentos"><button class="filter-btn" data-filter="alimentos">Alimentação</button></a>
  </nav>

  <!-- Lista de serviços -->
<div class="service-list">
    
    <br><div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Encanador</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Montador</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>
    
    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Eletricista</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Faxineira</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>

    <div class="service-card active">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Pedreiro</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>

    <div class="service-card">
      <img src="../img/img malcon.png" alt="Foto" class="avatar">
      <div class="service-info">
        <h3>Marceneiro</h3>
        <p>Malcolm, Barueri-SP</p>
        <button class="btn-contato">Contato</button>
      </div>
    </div><br>

  </div><br>

  </section>


  <script src="../js/menu.js"></script>
  <script src="../app/public/js/todos.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>