<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços de Troca</title>
  <link rel="stylesheet" href="../css/todos.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
  
  <!-- SOBREPOSIÇÃO DO MENU (FUNDO ESCURO) -->
  <div id="overlay" class="overlay"></div>
  <!-- Filtros -->
  <nav>
    <button class="filter-btn active" data-filter="todos">Todos</button>
    <button class="filter-btn" data-filter="infantil">Infantil</button>
    <button class="filter-btn" data-filter="profissionais">Profissionais</button>
    <button class="filter-btn" data-filter="alimentação">Alimentação</button>
  </nav>

  <!-- Lista de serviços -->
  <section id="service-list">

  </section>


  <script src="../js/menu.js"></script>
  <script src="../app/public/js/todos.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>