<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Serviços de Trocas</title>
  <link rel="stylesheet" href="../css/todos.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>

<%- include('../partials/header.ejs') %>
<body>
  <!-- Filtros -->
  <nav>
    <button class="filter-btn active" data-filter="todos">Todos</button>
    <button class="filter-btn" data-filter="infantil">Infantil</button>
    <button class="filter-btn" data-filter="profissionais">Profissionais</button>
    <button class="filter-btn" data-filter="alimentação">Alimentação</button>
  </nav>

  <!-- Lista de serviços -->
  <section id="service-list"></section>


  <script src="../app/public/js/todos.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>
