<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços de Troca</title>
  <link rel="stylesheet" href="../css/todos.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?familly=Poppins:wght@400;600;700&display=swap">
</head>

<%- include('../partials/header.ejs') %>
<body>
<script>
  var services = [
    { nome: "Berço", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Limpeza", local: "Malcolm, Barueri-SP", categoria: "profissionais", img: "../img/img malcon.png" },
    { nome: "Pedreiro", local: "Malcolm, Barueri-SP", categoria: "profissionais", img: "../img/img malcon.png" },
    { nome: "Cadeirinha", local: "Malcolm, Barueri-SP", categoria: "infantil", img: "../img/img malcon.png" },
    { nome: "Sal", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" },
    { nome: "Macarrão", local: "Malcolm, Barueri-SP", categoria: "alimentação", img: "../img/img malcon.png" }
  ];
</script>

<!--Campo de Busca-->
<div id="divBusca">
  <input type="text" id="txtBusca" placeholder="Buscar">
  <img src="../img/img lupa.png" id="btnBusca" alt="Buscar">
</div><br>

  <!-- Filtros -->
  <nav>
    <a href="/todos"><button class="filter-btn active" data-filter="todos">Todos</button></a>
    <a href="/kids"><button class="filter-btn" data-filter="infantil">Infantil</button></a>
    <a href="/profissionais"><button class="filter-btn" data-filter="profissionais">Profissionais</button></a>
    <a href="/alimentos"><button class="filter-btn" data-filter="alimentos">Alimentação</button></a>
  </nav>

  <!-- Lista de serviços -->

  <div class="service-list"></div>
</section>

  <script src="../js/menu.js"></script>
  <script src="../js/busca.js"></script>
</body>
<%- include('../partials/footer.ejs') %>
</html>